* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.christmasBanner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
  margin: auto;
  position: relative;
}
.christmasBanner > img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.bannerContent {
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-family: Roboto, sans-serif;
  max-width: 35%;
  width: 35%;
  height: auto;
  margin-left: 10vw;
}
.bannerTitle {
  font-size: 2.5rem;
  line-height: 3.125rem;
  color: white;
  font-weight: 400;
  width: 100%;
  height: auto;
}
.bannerSubtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 0.9375rem;
  color: white;
  font-weight: 400;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 901px) and (max-width: 1201px) {
  .bannerTitle {
    font-size: 2rem;
    line-height: 2.6875rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 901px) {
  .bannerContent {
    max-width: 50%;
    width: 50%;
  }
  .bannerTitle {
    font-size: 1rem;
    line-height: 1rem;
  }
  .bannerSubtitle {
    font-size: 0.775rem;
    line-height: 1.1875rem;
}
}


@media screen and (max-width: 601px) {

  .bannerTitle  {
    font-size: 0.8rem;
    line-height: 1.3rem;
    color: rgb(250, 248, 248);
  }

  .bannerSubtitle {
    font-size: 0.6rem;
    line-height: 1rem;
    color: rgb(250, 248, 248);
  }

  }

  @media screen and (max-width: 530px) {
    .bannerTitle {
      font-size: 0.5rem;
      line-height: 0.7rem;
      color: rgb(253, 251, 251);
    }
    .bannerSubtitle {
      font-size: 0.5rem;
      line-height: 0.8rem;
      color: rgb(250, 248, 248);
    }



    }


  @media screen and (max-width: 440px) {
    .bannerTitle {
      font-size: 0.8rem;
      line-height: 0.7rem;
      color: rgb(253, 251, 251);
    }
    .bannerSubtitle {
      display: none;
    }

    }
