.menu {
    display: flex;
    list-style: none;
    gap: 40px;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
}

.item{
    padding-left: 50px;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
}

.item:hover{
    text-decoration: underline;
}

.color{
    color: blue;
}


.menuItems{
    color: rgb(249, 95, 121);
}
