
.button-noborder{
    border: none;
   background-color: rgb(249, 185, 185);
   padding: 10px;
   color: red;
}

.button-border{
    border: 2px solid rgb(236, 114, 114);
    background-color: white;
    padding: 10px 20px 10px 20px;
}




